.addel{
    border:2px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.outer{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.tit{
    width: 35rem;
    height: 3rem;
}

.tit1{
    width: 35rem;
    height: 16rem;
}

.lbl{
    width: 35rem;
    height: 3rem;
}