<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}'s Page !
  </h1>
  <img width="300" alt="Smiley" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png">
</div>
<h2>Here are some links to help you to dive in to some of my personal Blogs and Social Media profiles: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://medium.com/@neehazulfikar">Medium</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://sites.google.com/view/scholarshiphelpline/home">Demo Website Of My First Action on google Assistant</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://assistant.google.com/services/a/uid/0000000ef516ea83">My First Bot on Assistant Store!</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://sites.google.com/view/nehaparveen/home">My Personal Website</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/nehaparveen/">Connect with me in Linked In</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
